header {
    position: relative;
    width: 100%;
    height: 70px;
    background-color: #fff;
    border-bottom: 1px solid #CCCCCC;
    margin-left: 20px;
    max-width: 1440px;
    background-repeat: no-repeat;
}